@tailwind base;
@tailwind components;
@tailwind utilities;


.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexcolCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexcolCentertop {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}